{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['memcached', 'python-memcache'],
        'collectd_pkgs': ['python-pymemcache'],
        'service': 'memcached',
        'config': '/etc/memcached.conf',
        'config_template': 'salt://memcached/files/memcached.conf',
        'cache_size': 64,
        'incomming_connections': 8192,
        'threads': 1,
        'slabsize': '1m',
    },
    'RedHat': {
        'pkgs': ['memcached'],
        'service': 'memcached',
        'config': '/etc/sysconfig/memcached',
        'config_template': 'salt://memcached/files/memcached',
        'cache_size': 64,
        'incomming_connections': 8192,
        'threads': 1,
        'slabsize': '1m',
    },
}, merge=salt['pillar.get']('memcached:server')) %}

{%- set monitoring = salt['grains.filter_by']({
  'default': {
    'service_evictions_threshold': 10,
    'service_conn_yield_treshold': 5,
    'service_respawn_seconds_treshold': 180,
  },
}, grain='os_family', merge=salt['pillar.get']('memcached:monitoring')) %}


