{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['memcached', 'python-memcache'],
        'collectd_pkgs': ['python-pymemcache'],
        'service': 'memcached',
        'config': '/etc/memcached.conf',
        'config_template': 'salt://memcached/files/memcached.conf',
        'cache_size': 64,
        'incomming_connections': 8192,
        'threads': 1,
        'slabsize': '1m',
    },
    'RedHat': {
        'pkgs': ['memcached'],
        'service': 'memcached',
        'config': '/etc/sysconfig/memcached',
        'config_template': 'salt://memcached/files/memcached',
        'cache_size': 64,
        'incomming_connections': 8192,
        'threads': 1,
        'slabsize': '1m',
    },
}, merge=salt['pillar.get']('memcached:server')) %}
